:host {
  display: block;
  width: 100%;
  min-height: 28px;
}

:host .u-hidden {
  display: none;
}

:host .Select-help {
  padding: 10px;
}
:host .Select-help h3 {
  margin: 0.25em 0;
  font-size: 16px;
}
:host .Select-help p {
  margin: 0 0 0.25em 0;
  color: #999;
}
:host .Select-help button {
  padding: 8px;
  font-size: 16px;
  color: #fff;
  background: #6eba1d;
  border: none;
  cursor: pointer;
}
:host .Select {
  padding: 5px;
  min-height: inherit;
}
:host .Select-element {
  width: 70%;
}
